.ListCountries {
  &-wrapper,
  &-header {
    background-color: white;
    display: flex !important;
    text-align: center;
    p {
      float: left;
      width: 50%;
    }
    h4 {
      flex: 1 1 auto;
      float: left;
      width: 50%;
    }
  }
  &-noData {
    text-align: center;
    padding: 1rem 1rem;
    font-size: 15px;
  }
}
